.container {
    width: 100%;
    flex: 1;
    min-height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    padding: 0 16px;
}

.flex {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    margin-bottom: 16px;
}

.table {
    flex: 1;
    height: 100%;
}

.button-group {
    display: flex;
    gap: 8px;
}
